@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    RSM SA Consulting<br />
    RAS<br />
    <abbr title="Phone">P:</abbr>
    0739614951
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>RAS:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>